.navbar {
  width: 100%;
  margin: 3px;
  justify-content: space-between;
  padding: 5px;
  border-radius: 10px;
  color: white;
  background-color: rgba(140, 205, 248, 0.674);
  height: 5%;
}

.navh1 {
  color: white;
  font-size: 100%;
  font: bold;
}
.navh2 {
  color: rgb(5, 149, 75);
  font-size: 100%;
  font: bold;
}

ul {
  display: flex;
  margin-left: 2px;
  padding-left: 2px;
}
.botonReg {
  background-color: rgb(35, 188, 27);
  color: white;
  padding: 2px 1.5px;
  font-size: 100%;
  border-radius: 5px;
  height: 90%;
}

.botonReg:hover {
  background-color: rgb(126, 247, 145);
}

li {
  font-size: 100%;
}

ul {
  list-style: none;
}

.bienvenido {
  display: flex;
}

.bienvenido p {
  margin-left: 2em;
}

@media screen and (max-width: 780px) {
  .navbar {
    /* display: none; */
  }
}
